<p class = "sign"><%= image_tag '/image.png' %></p>
<div id="wrap">
<div class="container">

<p><%= notice %></p>
<p>応援コードを入力してください</p>

<%= form_tag("/performer_mypage", method: "post" ) do %>
<%= text_field_tag :uuid %>

<% end %>
