// Place all the styles related to the event controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.event_detail{
  h2{
    padding-left: 15px;
  }
  table{

    table-layout: fixed;
    width: 100%;
    th{
      width: 30%;
      background-color: #C3DE98;
      border: solid 0.1rem #fff;
      padding: 1rem;
    }
    td{
        width: 70%;
      background-color: #fff;
      border: solid 0.1rem #C3DE98;
      padding: 1rem;
      word-wrap:break-word;

    }
  }

}
.recrute{
  float: right;
  p{
    background-color: #595757;
    float: left;;
    padding: 1rem;
    border-radius: 0.5rem;
    margin-right: 1rem;
    a{
      color: #fff;
    }
    &:hover{
      opacity: 0.5;
    }
  }
}
