// Place all the styles related to the Request controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#requestContent{
  font-size: 2rem;
  color: #595757;
}
.request{
  background-color: #EF8585;
  color: #fff;
  padding: 1rem;
  margin-bottom: 2rem;
}
.new_request{
  text-align: center;
  width: 70%;
  margin: 0 auto;
}
