// Place all the styles related to the top controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@font-face {
    font-family: 'yasasisagothic';
    src: font-url('yasasisagothic.otf') format('otf'),
        font-url('yasasisagothic.woff') format('woff'),
        font-url('yasasisagothic.ttf') format('truetype');
}
@font-face {
    font-family: 'ShinGo';
    src: font-url('ShinGo.otf') format('otf'),
        font-url('ShinGo.woff') format('woff');
}

@font-face {
    font-family: 'Hannari';
    src: font-url('Hannari.otf') format('otf'),
        font-url('Hannari.woff') format('woff');
}
body{
    font-family: 'ShinGo', sans-serif;
}
a{
  img:hover{
    opacity: 0.7;
  }
}


#topimage img{
  width: 100%;
}
#topimage {
  margin: 0;
  padding: 0;
}


#top_menu ul {
  margin: 0;
  padding: 0;
}

#top_menu ul li{
  float: left;
  width: 33%;
  transition-duration: 0.5s;

}

#top_menu ul li img{
  width: 100%;
}
#top_menu ul li:hover{
  opacity: 0.5;
  transition-property: all;
}



#side ul{
  padding: 0;
}


#side img{
  width: 100%;
  padding: 0;
  transition-duration: 0.5s;
}


#side img:hover{
  opacity: 0.5;
  transition-property: all;
}

#contents{
  font-family: 'Hannari', serif;
  margin-top: 2rem;

  section{
    h1{
      font-size: 4rem;
    }
    p{
      font-size: 2rem;
      word-wrap:break-word;
      padding: 2rem 2rem 0 0;
    }

  }
}

#fixed_sign{
  width: 250px;
  margin-right: 1rem;
  padding: 0;
}
#fixed_sign img{
  width: 100%;
}
#head_menu ul{
  padding: 0;
  height: 7rem;
}
#head_menu ul li{
  float: left;
}
#head_menu ul li a{
  float: left;
  color: #595757;
}

#head_menu ul li:not(:first-child){
  font-size: 1.2rem;
  padding: 3rem 1rem 3rem 1rem;
}
#loginIcon{
  position: fixed;
  right: 0;
  top:0;
}
#loginIcon div{
 float: right;
}

#loginIcon dt{
 font-size: 0.5rem;
 padding: 2rem;
 background-color: pink;
 margin-left: 1rem;
}

#loginIcon dd{
 display: none;
}
#loginIcon li{
 font-size: 0.8rem;
 padding: 0.5rem;
 background-color: white;
 border-bottom: solid 0.1rem #595757;
 z-index: 10000;

}

select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 2rem;
  border-radius: 0;
  border-color: #FAD5D6;
  border-width: thin;
  margin: 0;
  padding-top: 0.5rem;
  padding-bottom: 1rem;
  padding-left: 5%;
  padding-right: 5%;
  background: none transparent;
  vertical-align: bottom;
  font-size: 1.5rem;
  box-sizing: content-box;
	background: url(/arrow.png) right 30% no-repeat;
  background-size: 15%,100%;
  background-color: #fff;

}

.form{
  padding: 0 20%;
  margin: 0 auto;
}
input[type="submit"]{
  margin: 0 auto;
  font-size: 2rem;
  text-align: center;
}
input[type="file"]{
  margin: 0 auto;
  text-align: center;
  width: 80%;
}
input[type="text"]{
  margin: 0 auto;
  text-align: center;
  width: 80%;
}
input[type="email"]{
  margin: 0 auto;
  text-align: center;
  width: 80%;
}
textarea{
  margin: 0 auto;
  text-align: center;
  width: 80%;
}
.row-0{
    margin-left:0px;
    margin-right:0px;

     li{
        padding-right:0px;
        padding-left:0px;
    }
  }
  .sign1{
    font-family: 'Hannari', serif;
    font-size: 3rem;
    padding: 1.5rem;
    background-color: #EF8585;
    color: #fff;
    margin: 0 auto 2rem auto;
    width: 70%;
    text-align: center;
  }
  .content1{
    font-size: 2rem;
    width: 70%;
    margin: 0 auto;
  }

.sign2{
  font-size: 2rem;
  background-color: #C3DE98;
  color: #fff;
  padding: 1rem;
  margin-top: 2rem;
  text-align: center;

}
.border{
  border-bottom: dotted 0.2rem gray;
  padding-bottom: 1rem;
}
.submit1{
  margin: 0 auto;
  text-align: center;

}
.regiForm{
  width: 80%;
  margin: 0 auto;
}
.field {
  width: 80%;
  margin: 0 auto;
 img{
  width: 40%;
}
}
label{
  border-bottom: solid 0.1rem #000;
}
i{
  font-size: 0.5rem;
}
